@charset "utf-8";

@import 'bulma';
@import 'menu';

abbr {
  text-decoration: none;
}

hr {
  width: 68px;
}

article {
  padding: 0 16px;
  @include tablet {
    padding: 0 24px;
  }
  margin: 20px 0;
}

section.slider-container {
  margin-bottom: 8px;
}
.slider-container .slider-container {
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 26px;
}
.slider-item {
  padding-left: 8px;
  padding-right: 8px;
}
.slider-navigation-previous,
.slider-navigation-next {
  background-color: $info;
  border-color: $info;
}
.slider-pagination .slider-page {
  background: $info;
}

.bearers .table {
  border-collapse: separate;
  border-spacing: 0 1px;
  margin-right: 8px;
  tr {
    td {
      padding: 4px 8px;
      color: black;
    }
    td:first-child {
      background-color: $info;
      min-width: 9em;
    }
    td:not(first-child) {
      background-color: white;
      min-width: 9.5em;
    }
  }
}

.lci {
  .menu-label {
    font-size: 0.75rem;
  }
  .social-btns {
    padding: $menu-list-link-padding;
  }
  .button {
    border: none;
    font-size: 1.875rem;
    height: unset;
    padding: 0 12.25px;
  }
  @include mobile {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  @include tablet {
    margin-top: 115px;
  }
  @media (pointer: fine) {
    .menu {
      font-size: $size-small;
    }
    .button {
      font-size: calc(4rem / 3);
      padding: 0 9px;
    }
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-label {
    color: $grey-light;
  }
  .menu-list a {
    &:hover {
      background-color: $grey-lighter;
      color: black;
    }
  }
  a {
    color: $grey-lighter;
  }
  .lci-footer {
    max-width: 400px;
  }
  .author {
    text-decoration: underline;
  }
}

.is-absolute {
  position: absolute;
}

.round-top {
  border-radius: $radius-large $radius-large 0 0;
}

.tablet-width {
  max-width: $tablet - 1;
}

.p-4 {
  padding: 16px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
