@charset "utf-8";

$blue: #112e57;
$yellow: #f9c910;
$grey-dark: hsl(0, 0%, 29%);
$white-ter: hsl(0, 0%, 96%);

$primary: $blue;
$info: $yellow;
$info-invert: black;
$body-background-color: $white-ter;

$hr-background-color: $info !default;
$hr-height: 4px !default;
$hr-margin: 15px 0 0 0 !default;
hr {
  width: 68px;
}

$section-padding: 1rem 0;

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';

$menu-list-link-padding: 0.5em 1.75em;
$menu-item-active-color: black;
$menu-item-active-background-color: $info;
@import 'bulma/sass/components/menu.sass';
@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/grid/columns.sass';
$footer-background-color: $primary;
$footer-color: $grey-lighter;
$footer-padding: 3rem 1.5rem 1.5rem;
@import 'bulma/sass/layout/footer.sass';
@import 'bulma/sass/layout/section.sass';

$quickview-shadow: none;
@import 'bulma-quickview/dist/css/bulma-quickview.sass';
@import 'bulma-carousel/src/sass/index.sass';

abbr {
  text-decoration: none;
}

nav.main-nav {
  position: sticky;
  top: -$column-gap;
  z-index: 1;
  @include mobile {
    background-color: $primary;
    height: 56px;
  }
  @include tablet {
    background-color: white;
    max-width: 240px;
    align-self: flex-start;
  }
  .mobile-nav {
    justify-content: center;
  }
  .hamburger {
    left: 0;
    top: 11px;
  }
  .quickview {
    .close-btn {
      position: absolute;
      left: 8px;
      top: 16px;
    }
    @include tablet {
      max-width: none;
      position: static;
      width: unset;
    }
  }
  .quickview-body .menu {
    @include mobile {
      font-size: $size-medium;
    }
  }
  .quickview-footer {
    justify-content: center;
  }
}

article {
  padding: 0 16px;
  @include tablet {
    padding: 0 24px;
  }
  margin: 20px 0;
}

section.slider-container {
  margin-bottom: 8px;
}
.slider-container .slider-container {
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 26px;
}
.slider-item {
  padding-left: 8px;
  padding-right: 8px;
}
.slider-navigation-previous,
.slider-navigation-next {
  background-color: $info;
  border-color: $info;
}
.slider-pagination .slider-page {
  background: $info;
}

.bearers .table {
  border-collapse: separate;
  border-spacing: 0 1px;
  margin-right: 8px;
  tr {
    td {
      padding: 4px 8px;
      color: black;
    }
    td:first-child {
      background-color: $info;
      min-width: 9em;
    }
    td:not(first-child) {
      background-color: white;
      min-width: 9.5em;
    }
  }
}

.lci {
  @include mobile {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  @include tablet {
    margin-top: 115px;
    .menu {
      font-size: $size-small;
    }
  }
  .menu-label {
    font-size: 0.75rem;
  }
  .social-btns {
    padding: $menu-list-link-padding;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-label {
    color: $grey-light;
  }
  .menu-list a {
    &:hover {
      background-color: $grey-lighter;
      color: black;
    }
  }
  a {
    color: $grey-lighter;
  }
  .lci-footer {
    max-width: 400px;
  }
  .author {
    text-decoration: underline;
  }
}

.is-absolute {
  position: absolute;
}

.round-top {
  border-radius: $radius-large $radius-large 0 0;
}

.tablet-width {
  max-width: $tablet - 1;
}

.p-4 {
  padding: 16px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
