@charset "utf-8";

// $blue: #00539b;
// $blue: #083088;
$blue: #112e57;
// $yellow: #ffcf01;
// $yellow: #ebb700;
$yellow: #f9c910;

$primary: $blue;
$info: $yellow;

$section-padding: 1rem 0;

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/components/card.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/elements/box.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/content.sass';
@import '../node_modules/bulma/sass/elements/image.sass';

// $title-size: $size-4;

@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

body {
  background-color: #f6f6f6f6;
}

article {
  padding: 0 16px;
  margin: 20px 0;
}

.separator {
  background-color: $info;
  height: 4px;
  width: 68px;
  margin-top: 15px;
}

.round-top {
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tablet-width {
  max-width: $tablet - 1;
}

.mb-2 {
  margin-bottom: 8px;
}
.p-4 {
  padding: 16px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.pt-0 {
  padding-top: 0;
}
.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
